/** breadcrumb */
nav{
    position: fixed;
    top: 0;
    width: 100%;
}

.breadcrumb{
    background-color: #515161;
    border-radius: 0;
    flex-wrap: wrap;
    padding: 0.75rem 1rem;
    margin-bottom: 1rem;
}

a, a:hover{
    text-decoration: none;
    color: #AEBD38;

}

.container {
    padding-right: 100px;
    padding-left: 100px;
}

/** table*/
table{
    color: #68829E!important;
    margin: 100px 10px;
    padding: 0.7rem;
    border-collapse: collapse;
}

.table td, .table th {
    padding: 1rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

thead{
    background-color: #68829E;
    color: white;
    cursor: pointer;
}

tbody ion-icon {
    font-size: 16px;
    color:#68829E;
}

tbody{
    display: block;
    height: 300px;
    overflow-y: scroll;                   /** to make table scrollebale*/
}

thead, tbody tr {
    display: table;
    table-layout: fixed;
    width: 100%;
}

.footer {
    position: absolute;
    bottom:0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #515161;
}
.text-muted {
    color: rgb(185 194 203 / 75%)!important;}